header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title {
    text-align: center;
    color: white;
    font-weight: bold;
}


#menu-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 3vw;
    font-size: 5vw;
    list-style-type: none;
    margin: 0;
    
    padding: 1vw;
}

#menu-bar li a {
    display: block;
    flex-basis: auto;
    width: 21vw;
    text-align: center;
    color: white;
    text-decoration: none;
    background-image: url(../images/galaxy-button.png);
    background-position: center center;
}

body {
    background-image: url(../images/galaxy-background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-bottom: 60px;
    margin: 0%;
    color: white;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
footer::before {
    clear: both;
    display: block;
    height: 120px;
    min-height: 120px;
}

#footer {
    background-color: white;
}

#footer-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

#footer-menu li a {
    text-decoration: none;
}

/* Git Hub */
.fa-github {
    background: #171515;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background: #0077B5;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

body img {
    width: 400px;
    height: auto;
}

/*Homepage Specific*/

#home-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

#home-main section {
    width: 400px;

}



#email-icon {
    width: 15px;
    height: auto;
    display: flex;
}

#hp-photo {
    display: flex;
    float: left;
    width: 400px;
    height: auto;

    border-radius: 50%;
}

#home-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Blog Page */
.blog-pic {
    width: 400px;
    height: auto;
}
.blog-link {
    color: aquamarine;
}

/* About Me */
#about-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#about-main section {
    width: 400px;
}
#about-main div {

}

/* Past Work */
.cv-icon {
    width: 100px;
    height: auto;
}